:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
/* Slider */
*{
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
}
.slick-slider
{
	position: relative;

	display: block;
	box-sizing: border-box;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list
{
	position: relative;

	display: block;
	overflow: hidden;

	margin: 0;
	padding: 0;
}
.slick-list:focus
{
	outline: none;
}
.slick-list.dragging
{
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track
{
	position: relative;
	top: 0;
	left: 0;

	display: block;
	margin-left: auto;
	margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
	display: table;

	content: '';
}
.slick-track:after
{
	clear: both;
}
.slick-loading .slick-track
{
	visibility: hidden;
}

.slick-slide
{
	display: none;
	float: left;

	height: 100%;
	min-height: 1px;
}
[dir='rtl'] .slick-slide
{
	float: right;
}
.slick-slide img
{
	display: block;
}
.slick-slide.slick-loading img
{
	display: none;
}
.slick-slide.dragging img
{
	pointer-events: none;
}
.slick-initialized .slick-slide
{
	display: block;
}
.slick-loading .slick-slide
{
	visibility: hidden;
}
.slick-vertical .slick-slide
{
	display: block;

	height: auto;

	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}


/* Slider */
.slick-loading .slick-list
{
	background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;

	src: url('./fonts/slick.eot');
	src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
	font-size: 0;
	line-height: 0;

	position: absolute;
	top: 50%;

	display: block;

	width: 20px;
	height: 20px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);

	cursor: pointer;

	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
	color: transparent;
	outline: none;
	background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
	opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
	opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;

	opacity: .75;
	color: white;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
	left: -25px;
}
[dir='rtl'] .slick-prev
{
	right: -25px;
	left: auto;
}
.slick-prev:before
{
	content: 'в†ђ';
}
[dir='rtl'] .slick-prev:before
{
	content: 'в†’';
}

.slick-next
{
	right: -25px;
}
[dir='rtl'] .slick-next
{
	right: auto;
	left: -25px;
}
.slick-next:before
{
	content: 'в†’';
}
[dir='rtl'] .slick-next:before
{
	content: 'в†ђ';
}

/* Dots */
.slick-dotted.slick-slider
{
	margin-bottom: 30px;
}

.slick-dots
{
	position: absolute;
	bottom: -25px;

	display: block;

	width: 100%;
	padding: 0;
	margin: 0;

	list-style: none;

	text-align: center;
}
.slick-dots li
{
	position: relative;

	display: inline-block;

	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;

	cursor: pointer;
}
.slick-dots li button
{
	font-size: 0;
	line-height: 0;

	display: block;

	width: 20px;
	height: 20px;
	padding: 5px;

	cursor: pointer;

	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
	outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
	opacity: 1;
}
.slick-dots li button:before
{
	font-family: 'slick';
	font-size: 6px;
	line-height: 20px;

	position: absolute;
	top: 0;
	left: 0;

	width: 20px;
	height: 20px;

	content: '•';
	text-align: center;

	opacity: .25;
	color: black;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
	opacity: .75;
	color: black;
}





header{
	position:relative;
	background-image: url('../img/header-image.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.navbar-brand img{
	width: 100%;
	margin-top: 20px;
}

.nav a{
	color: #fff;
}
#production{
	background-image: url('../img/bg-1.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 160px;
}

.text{
	position: relative;
	display: inline-block;
}

.text p{
	font-size: 89px;
	font-family: fantasy;
	color: rgba(99, 22, 0, 0.2);
	position: relative;
	line-height: 1;
}
.clearfix{
	clear: both;
}

.image img{
	float: left;
}

.text span{
	position: absolute;
	top: 50px;
	left: 40px;
	color: rgba(97, 25, 0, 0.7);
}

.prop{
	display: inline-block;
	max-width: 300px;
}

.product-desc h2{
	color: #540700;
	margin: 30px 0px
}

.desc p{
	color: #540700;
	font-size: 50px;
	max-width: 75%;
	line-height: 0.9;
	font-family: 'Roboto', sans-serif;
}

.firm-name{
	color: rgba(105, 101, 101, 0.7019607843137254);
	font-size: 21px;
}
.product-item{
	width: 40%;
	margin: 0px -86px;
}
.section-name{
	color: rgb(84, 7, 0);
}
.product-link{
	max-width: 270px;
	margin: auto;
	display: block;
	border: 1px solid rgb(84, 7, 0);
	padding: 8px 55px;
	font-size: 18px;
	font-weight: 600;
	color: rgb(84, 7, 0);
	border-radius: 10px;
	min-width: 270px;
	text-align: center;
}
.product-link:hover{
	text-decoration: none;
	color: #983911;
}
.product-img{
	position: relative;
	min-height: 300px;
}
.product-img img{
	width: 100%;
	position: absolute;
	bottom: 0;
}
footer {
	height: 130px;
	background-image: url('../img/bg-footer.png');
	position: relative;
}

.call-us .form-control{
	border-radius: 1.25rem;
}

.call-us textarea{
	height: 150px;
}

.footer-logo{
	width: 100%;
	margin-bottom: 25px;
}
@media(min-width: 1440px){
	header{
		min-height: 790px;
	}
}
@media(max-width: 1440px){
	#production{
		padding-top: 145px
	}
	header{
		min-height: 720px;
	}
}
@media(max-width: 1024px){
	.product-item{
		width: 50%;
		margin: 0;
		min-height: 350px;
	}
	.image img{
		width: 200px;
	}
	.desc p{
		font-size: 33px;
	}
	.desc{
		width: 550px;
	}
}

img.text{
	height: 405px;
}

@media(max-width: 768px){
	#production {
		padding-top: 40px;
	}
	.header-slick {
		display: none;
	}
}
@media(max-width: 425px){
	.product-item{
		min-height: auto;
	}
	.product-img{
		min-height: 170px;
	}
	.desc p{
		font-size: 20px;
	}
	img.text {
		height: 285px;
	}

}
@media(max-width: 375px){
	.product-item{
		width: 100%;
		margin-top: 90px;
	}
	.image img{
		width: 200px;
	}
	.desc p{
		font-size: 20px;
	}
}

form .product-link{
	background: #fff;
	margin-bottom: 10px;
}

.product-desc{
	margin: 70px 0px;
}

.up{
	position: fixed;
	bottom: 45px;
	right: 20px;
	width: 50px;
}
.up img{
	width: 100%;
}

#call-us{
	margin-top:125px;
	margin-bottom: 50px;
}

#products .section-name{
	margin-bottom: 40px;
}

.prod{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
}

.product-image img{
	max-width: 190px;
}

.product-text p{
	line-height: 25px;
}

.product-text h2{
	color: rgb(84, 7, 0);
}


@media(max-width:572px){
	.prod{
		flex-direction: column;
	}
}

.podpis{
	position: absolute;
    bottom: 10px;
    width: 100px;
    left: 0;
    right: 0;
    margin: auto;
}

.podpis img{
	width: 150px;
}

.product-desc p{
	line-height: 20px;
}

#products .product-text a {
    font-size: 2rem;
    color: rgb(84, 7, 0);
    text-decoration: none;
}

.pi .img-tov img{
	width: 100%;
}

.pi p{
	text-align: center;
}

.pi .pagetitle{
    font-size: 23px;
    font-weight: 700;
    color: #540700;
	min-height: 50px;
}

.img-tov{
	
}